html,
body
{
background: #000E1D;
}

.webgl{
position: static;
height: 10% !important;
top: 0;
left: 0;
margin: 0em 0em;
border: none !important;
outline: none !important;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

@keyframes line_grow {
      0% { transform: translate(0%, 0%);
                      width:0%; }
      40% { transform: translate(60%, 50%);
                      width:0%; }
      100% { transform: translate(0%, 0%);
                        width:100%; }
}

canvas:focus {
    border: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.form_container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: white;
    margin: 4em 8em;
    min-width: 200px;
    max-width: 500px;
    width: 40%;
}

.btn-info:not(:disabled):not(.disabled):active{

background: #28A8EA;

}
.black-background {background-color:#000000;}
.white {color:#ffffff;}

.slider-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: #28A8EA;
    margin: 20em 8em;
    min-width: 50px;
    max-width: 250px;
    width: 40%;
    background: #000E1D;
    opacity:0.8;
}
.slider-container h3{
color:white;
background: #000E1D;
}
.slider {
color:#28A8EA;
}

.checkbox-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: #28A8EA;
    margin: 30em 8em;
    min-width: 50px;
    max-width: 250px;
    width: 40%;
    opacity:0.8;
    background: #000E1D;

}
.checkbox-container h3{
color:white;
background: #000E1D;
}