{% extends 'base.html' %}
{% load static%}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/three@0.122.0/build/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.122.0/examples/js/controls/OrbitControls.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.122.0/examples/js/loaders/OBJLoader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.122.0/examples/js/loaders/MTLLoader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.122.0/examples/js/loaders/GLTFLoader.js"></script>
<link rel="stylesheet"  href="{%  static  'css/threeviewer.css'  type='text/css' %}">

<div class="slider-container">
    <button type="button" class="btn btn-info black-background white" id="btn_light">Light switch</button>
    <p></p>
    <button type="button" class="btn btn-info" onclick="height_switch()" id="btn_height">Height switch</button>
    <h3>Lightmap sliders</h3>
    <div class="sliders">
        <p></p>
        <input type="range" min="0" max="5" value="0" class="slider" id="slider_population" onchange="heatmap_params()">
        <p>Wealth</p>
        <input type="range" min="0" max="5" value="0" class="slider" id="slider_fastfood" onchange="heatmap_params()">
        <p>Fast Food Outlets</p>
        <input type="range" min="0" max="5" value="0" class="slider" id="slider_shops" onchange="heatmap_params()">
        <p>Shops</p>
    </div>
</div>
<div class="checkbox-container">
     <h3>Points Of Interest</h3>
    <input class="form-check-input" type="checkbox" value="" id="cb_kfc" onclick="poi_checked('cb_kfc', 'poi_kfc');">
    <label class="form-check-label" for="cb_kfc">
        KFC
    </label>
    <br>
    <input class="form-check-input" type="checkbox" value="" id="cb_mcdonalds" onclick="poi_checked('cb_mcdonalds', 'poi_mcdonalds');">
    <label class="form-check-label" for="cb_mcdonalds">
        Mcdonalds
    </label>
    <br>
    <input class="form-check-input" type="checkbox" value="" id="cb_nandos" onclick="poi_checked('cb_nandos', 'poi_nandos');">
    <label class="form-check-label" for="cb_mcdonalds">
        Nandos
    </label>
    <br>
    <input class="form-check-input" type="checkbox" value="" id="cb_woolworths" onclick="poi_checked('cb_woolworths', 'poi_woolworths');">
    <label class="form-check-label" for="cb_woolworths">
        Woolworths
    </label>
    <br>
    <input class="form-check-input" type="checkbox" value="" id="cb_shopping" onclick="poi_checked('cb_shopping', 'poi_shopping');">
    <label class="form-check-label" for="cb_shopping">
        Shopping Centre/Supermarket
    </label>
</div>
<div class="webgl" id = "webgl_id">
    <script>
            const aoi_vertices = new Float32Array({{aoi_vertices}})
            const aoi_indices = {{aoi_indices}}
            const aoi_uvs = new Float32Array({{aoi_uvs}})
            const aoi_ulx = {{aoi_ulx}}
            const aoi_uly = {{aoi_uly}}
            const aoi_lrx = {{aoi_lrx}}
            const aoi_lry = {{aoi_lry}}
            const aoi_centroid = {{aoi_centroid}}
            const aoi_scale = {{aoi_scale}}

            const osm_poi_vertices = new Float32Array({{osm_poi_vertices}})
            const plato_vertices = new Float32Array({{plato_vertices}})
    </script>

    <script src= {% static '/javascript/threeviewer.js' %} type='text/javascript'></script>

</div>

{% endblock %}